.sidebar-nav {
    margin-top: 15px;
    padding: 0;
    list-style: none;
}

.site-icon {
    margin-top: 10px;
    width: 65px;
    height: 65px;
}

body {
  font-family: "Lucida Sans Unicode";
  font-size: medium;
}

input {
  padding: 8px 15px;
  margin: 8px 0;
  box-sizing: border-box;
}

select {
  padding: 8px 15px;
  border-radius: 4px;
}


a.button {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background-color: #343951;
  box-shadow: 0 -3px #343951 inset;
  transition: 0.2s;
}
a.button:hover { background-color: #0b0c12; }
a.button:active {
  background-color: #343951;
  box-shadow: 0 3px #343951 inset;
}

/* Основные свойства для бокового меню */
.menu {
  display: flex;
  flex-direction: column; /* размещаем элементы к колонку */
  width: 255px;
  min-height: 100vh; /* на всю высоту экрана */
  position: fixed; /* чтобы меню было фиксированным */
  top: 0; /* прижимаем к верхнему */
  left: 0; /* .. и нижнему краю */
  background-color: #343951;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2); /* задаем тень, чтобы отделить от фона */
}

/* Свойства для контента */
.content {
  padding-left: 295px; /* отступ от бокового меню 240px + 40px */
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.logo {
  display: flex;
  align-items: center; /* центрируем логотип с текстом */
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

.menu__logo {
  padding-top: 50px;
  padding-left: 30px;
  margin-bottom: 59px;
}

/* Позиционирование элементов в меню */
.menu__link,
.admin__link {
  padding-left: 15px;
}

/* Свойства для элементов меню */
.link {
  position: relative; /* чтобы задать потом псевдоэлемент */
  display: flex; /* чтобы элемент тянулся на всю ширину */
  align-items: center; /* по центру текст и иконка */
  height: 45px; /* высота элемента 45px */
  text-decoration: none;
}

/* Свойства иконки внутри ссылки */
.link > img {
  width: 25px;
  margin-right: 20px;
}

/* Свойства текста внутри ссылки */
.link > span {
  font-family: "Karla", sans-serif;
  font-size: 20px;
  color: #fff;
}

/* При наведении на ссылку - полупрозрачный белый фон */
.link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Выводим оранжевую линию слева */
.link:hover:before {
  display: flex;
}

/* Создаем оранжевую линию слева */
.link:before {
  content: "";
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: #ffa000;
}

/* Позиционирование админ-меню */
.menu__admin {
  margin-top: auto;
  padding-bottom: 40px;
}