<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Типография</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" href="../static/images/favicon.ico">

  <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}
    {% block css %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}
</head>

<body>
<nav class="menu">
      <!-- Логотип -->
        <a href="{% url 'index' %}" class="menu__logo logo">Типография</a>
      <!-- Основное меню -->
      <ul class="menu__list list">
        <!-- Элемент меню -->
        <li class="menu__item item">
          <!-- Ссылка меню -->
          <a href="{% url 'index' %}" class="menu__link link">
              <img src="../static/images/menu_main.png" alt="Main" />
            <span>Главная</span>
          </a>
        </li>
          {% if user.is_authenticated %}
        <li class="menu__item item">
          <a href="{% url 'customer-list' %}" class="menu__link link">
              <img src="../static/images/menu_customer.png" alt="Customer" />
            <span>Заказчики</span>
          </a>
        </li>
          <li class="menu__item item">
          <a href="{% url 'employee-list' %}" class="menu__link link">
              <img src="../static/images/menu_employee.png" alt="Employee" />
            <span>Сотрудники</span>
          </a>
        </li>
          <li class="menu__item item">
          <a href="{% url 'service-list' %}" class="menu__link link">
              <img src="../static/images/menu_service.png" alt="Service" />
            <span>Услуги</span>
          </a>
        </li>
          <li class="menu__item item">
          <a href="{% url 'price-list' %}" class="menu__link link">
              <img src="../static/images/menu_pricelist.png" alt="Pricelist" />
            <span>Прейскурант</span>
          </a>
        </li>
          <li class="menu__item item">
          <a href="{% url 'order-list' %}" class="menu__link link">
              <img src="../static/images/menu_order.png" alt="Order" />
            <span>Заказы</span>
          </a>
        </li>
          {% endif %}
      </ul>
      <ul class="menu__admin admin">
          {% if user.is_authenticated %}
          <li class="admin__item item">
          <a href="" class="admin__link link">
            <span>{{ user.get_username }}</span>
          </a>
          </li>
          <li class="admin__item item">
          <a href="{% url 'logout'%}?next={{request.path}}" class="admin__link link">
            <span>Выйти</span>
          </a>
         </li>
          {% else %}
          <li class="admin__item item">
          <a href="{% url 'login'%}?next={{request.path}}" class="admin__link link">
            <span>Войти</span>
          </a>
          </li>
          {% endif %}
      </ul>
    </nav>
    <section class="content">
        {% block content %}
        {% endblock %}
    </section>

</body>
</html>
