{% extends "base_generic.html" %}
{% block content %}

    <h1>Добавление новой услуги</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <input type="submit" value="Подтвердить" />
    </form>

{% endblock %}
