{% extends "base_generic.html" %}

{% block content %}
    <h2>Информация о заказчике - {{ customer.full_name }}</h2>
    <hr>
    <p><strong>ФИО:</strong> {{ customer.full_name}}</p>
    <p><strong>Телефон:</strong> {{ customer.phone }}</p>
    <p><strong>Паспорт:</strong> {{ customer.passport }}</p>
{% endblock %}
