{% extends "base_generic.html" %}

{% block content %}
    <h1>Список закзачиков</h1>
    <hr>
    <a href="{% url 'create-customer' %}" class="button">Добавление нового заказчика</a>
    <br><br>
    <form action="{% url 'customer-list' %}" method="get">
        <input name="q" type="text" placeholder="Поиск..">
        <input type="submit" value="Поиск" />
    </form>
    {% if customer_list %}
    <ul>
      {% for customer in customer_list %}
        <li><a href="{{ customer.get_absolute_url }}">{{ customer.full_name }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
      <p>Отстуствуют заказчики.</p>
    {% endif %}
{% endblock %}
