{% extends "base_generic.html" %}

{% block content %}
    <h1>Список сотрудников</h1>
    <hr>
    <div style="display: flex">
        <form action="{% url 'employee-list' %}" method="get" style="padding-right: 3px">
            <input name="q" type="text" placeholder="Поиск..">
            <input type="submit" value="Поиск" />
        </form>
        <form action="{% url 'order-list' %}" method="get">
            <input type="submit" value="Сброс">
        </form>
    </div>
    {% if employee_list %}
    <ul>
      {% for employee in employee_list %}
        <li><a href="{% url 'employee-orders' employee.pk %}">{{ employee.user.get_full_name }}</a> | Логин: {{ employee.user.username }}</li>
      {% endfor %}
    </ul>
    {% else %}
      <p>Отстуствуют сотрудники.</p>
    {% endif %}
{% endblock %}
