{% extends "base_generic.html" %}

{% block content %}
<h1>Типография</h1>
<hr>
<p>Добро пожаловать в систему "Типография". Данный сервис предназначен для моделирования работы типографии.</p>
<hr>
{% if user.is_authenticated %}
<h3>Статистика системы</h3>
<p><strong>Количество услуг: </strong> {{ num_services }}</p>
<p><strong>Количество заказов: </strong> {{ num_orders }}</p>
<p><strong>Количество заказчиков: </strong> {{ num_customers }}</p>
{% else %}
<p><strong>Чтобы пользоваться функционалом системы необходимо авторизироваться.</strong></p>
{% endif %}

{% endblock %}
