{% extends "base_generic.html" %}

{% block content %}
    {% if employee %}
        <h1>Список заказов сотрудника - {{ employee.user.get_full_name }}</h1>
    {% else %}
        <h1>Список заказов</h1>
    {% endif %}
    <hr>
    {% if employee %}
    {% else %}
        <a href="{% url 'create-order' %}" class="button">Добавление нового заказа</a>
        <br><br>
    {% endif %}
    <div style="display: flex">
        <form action="{% url 'order-list' %}" method="get" style="padding-right: 3px">
            <input name="q" type="text" placeholder="Поиск..">
            <input type="submit" value="Поиск" />
        </form>
        <form action="{% url 'order-list' %}" method="get">
            <input type="submit" value="Сброс">
        </form>
    </div>
    {% if order_list %}
    <ul>
      {% for order in order_list %}
        <li><a href="{{ order.get_absolute_url }}">Заказ №{{ order.pk }}
            | {{ order.order.customer.full_name }}
            | {{ order.price_list.service.name }}
            | {{ order.count }} шт
            | {{ order.order.date_admission }}
            | {{ order.order.status }}
        </a></li>
      {% endfor %}
    </ul>
    {% else %}
      <p>Отстуствуют заказы.</p>
    {% endif %}
{% endblock %}
