{% extends "base_generic.html" %}

{% block content %}
    <h2>Информация о заказе №{{ order.pk }}</h2>
    <hr>
    <p><strong>Заказчик:</strong> {{ order.order.customer.full_name }}</p>
    <p><strong>Сотрудник:</strong> {{ order.order.employee.user.get_full_name }}</p>
    <p><strong>Услуга и стоимость за единицу:</strong> {{ order.price_list.service }} | {{ order.price_list.price }} руб.</p>
    <p><strong>Количество услуг:</strong> {{ order.count }} шт.</p>
    <p><strong>Дата приема:</strong> {{ order.order.date_admission }}</p>
    <p><strong>Дата планового выполнения:</strong> {{ order.order.date_schedule }}</p>
    <p><strong>Общая стоимость: </strong>{{ order.get_total_cost }} руб.c</p>
    <p><strong>Статус:</strong> {{ order.order.status }}</p><br>
    {% if order.order.status == 'Открыт' %}
    <a href="{% url 'close-order' order.pk %}" class="button">Закрыть заказ</a>
    {% else %}
    <p><strong>Дата завершения заказа:</strong> {{ order.order.date_closed }}</p><br>
    {% endif %}
{% endblock %}
