{% extends "base_generic.html" %}

{% block content %}
    <h1>Прейскурант</h1>
    <hr>
    <a href="{% url 'create-price-list' %}" class="button">Добавление новой строки прейскуранта</a>
    <br><br>
    <div style="display: flex">
        <form action="{% url 'price-list' %}" method="get" style="padding-right: 3px">
            <input name="q" type="text" placeholder="Поиск..">
            <input type="submit" value="Поиск" />
        </form>
        <form action="{% url 'price-list' %}" method="get">
            <input type="submit" value="Сброс">
        </form>
    </div>
    {% if price_list %}
    <ul>
      {% for price in price_list %}
        <li><strong>Услуга:</strong> {{ price.service }} | <strong>Цена:</strong> {{ price.price }} руб.</li>
      {% endfor %}
    </ul>
    {% else %}
      <p>Отстуствует прейскурант</p>
    {% endif %}
{% endblock %}
