{% extends "base_generic.html" %}

{% block content %}
    <h1>Услуги</h1>
    <hr>
    <a href="{% url 'create-service' %}" class="button">Добавление новой услуги</a>
    <br><br>
    <div style="display: flex">
        <form action="{% url 'service-list' %}" method="get" style="padding-right: 3px">
            <input name="q" type="text" placeholder="Поиск..">
            <input type="submit" value="Поиск" />
        </form>
        <form action="{% url 'service-list' %}" method="get">
            <input type="submit" value="Сброс">
        </form>
    </div>
    {% if service_list %}
    <ul>
      {% for service in service_list %}
        <li>{{ service.name }}</li>
      {% endfor %}
    </ul>
    {% else %}
      <p>Отстуствуют услуги.</p>
    {% endif %}
{% endblock %}
